:local(.storyteller) {
  align-items: center;
  background-color: #c6f3f3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:local(.story-content) {
  background-color: #fff;
  border-radius: 1rem;
}
