:local(.castle) {
  background: url('/src/assets/backgrounds/castle.png');
  background-color: #c3e4eb;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

:local(.grass) {
  background: url('/src/assets/backgrounds/grass.png');
  background-repeat: repeat-x;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:local(.library) {
  background: url('/src/assets/backgrounds/library.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

:local(.mountain) {
  background: url('/src/assets/backgrounds/mountain.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

:local(.princess) {
  background: url('/src/assets/foregrounds/princess.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 40rem) 100%;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

:local(.princess-with-bird) {
  background: url('/src/assets/foregrounds/princess_bird.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 40rem) 100%;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

:local(.princess-with-book) {
  background: url('/src/assets/foregrounds/book.png'),
    url('/src/assets/foregrounds/princess.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 25rem) 69.5%, calc(50% - 40rem) 100%;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

:local(.princess-with-fairy) {
  background: url('/src/assets/foregrounds/princess.png'),
    url('/src/assets/foregrounds/fairy.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 40rem) 100%, calc(50% + 45rem) 50%;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

:local(.throne-room) {
  background: url('/src/assets/backgrounds/throne_room.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
