:local(.choice) {
  align-items: center;
  border-radius: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 1.5rem;
}

:local(.choice:hover) {
  background-color: #9362ff44;
}

:local(.choice label) {
  margin-top: 1.5rem;
}

:local(.choice img) {
  opacity: 0.8;
}

:local(.choice-selected) {
  composes: choice;
  background-color: #9362ff66;
}

:local(.choice-selected img) {
  opacity: 1;
}

:local(.choice-disabled) {
  composes: choice;
  cursor: auto;
  pointer-events: none;
}

:local(.choice-disabled img) {
  filter: grayscale(100%);
  --webkit-filter: grayscale(100%);
}
